<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cd.dao.INewsLableDao">
    <resultMap type="NewsLable" id="newsLableMapper">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <collection property="children" 
                    ofType="NewsLable"
                    select="selectChildrenByParent"
                    column="id"/>
    </resultMap>
    
    <select id="selectChildrenByParent" resultMap="newsLableMapper">
        select id,name from newslable where pid=#{pid}
    </select>
    
    <resultMap type="NewsLable" id="newsLableByIdMapper">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <collection property="children"
                    ofType="NewsLable"
                    select="selectNewsLableByParent"
                    column="id"/>
    </resultMap>

    <select id="selectNewsLableByParent" resultMap="newsLableByIdMapper">
        select id,name from newslable where pid=#{id}
    </select>
    <select id="selectNewsLableById" resultMap="newsLableByIdMapper">
        select id,name from newslable where id=#{id}
    </select>
</mapper>